<a href="https://colab.research.google.com/github/me-when-the/Desenvolvimento-Mobile/blob/main/Apostila_de_Fundamentos_de_Python_CODESchool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# hashtag na area de codigo para comentarios curtos
''' aspas triplas para comentarios de mais de uma linha '''

In [ ]:
#strings
cliente = 'Luna'
print(cliente)

# verificar qual o tipo de dado foi escolhido automaticamente
type(cliente)

In [16]:
# numeros inteiros
idade = 27
print(idade)
type(idade)

27

int

In [17]:
# float = numeros co casas decimais
altura = 1.75
print(altura)
type(altura)

1.75

float

In [18]:
# mudando o tipo original do dado
'''Suponha que boce tm o n° 1.85 tipado como string mas deseja converte-lo para float'''
n = '1.85'
print(type(n))
n = float(n)
print(type(n))

<class 'str'>
<class 'float'>

In [19]:
'''transformando valor int em float'''
print(type(idade))
idade = float(idade)
print(type(idade))

<class 'int'>
<class 'float'>

In [20]:
# soma
soma = 10 + 10
print(soma)

20

In [21]:
# subtração
subtracao = 10 - 5
print(subtracao)

5